# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
client/node_modules
client/resource
npm-debug.log
client/npm-debug.log
/client/resource.zip
/client/.DS_Store
/client/data/B1
/client/data/B1B5B6
/client/data/B2
/client/data/B3
/client/data/B4B3B2
/client/data/B5
/client/data/B5B4B2
/client/data/B6
/client/data/csvfile
/client/data/NDVI
/client/data/tiffile
/client/data/B4
/client/data/B3B2B1
.DS_Store
/server/static
/server/templates
/nodeserver/node_modules
/nodeserver/package.json
/public