# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
client/node_modules
client/resource
npm-debug.log
client/npm-debug.log
/client/resource.zip
/client/.DS_Store

