<!DOCTYPE html>
<html>
<head>
    <title>可视化分析工具-子图算法</title>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <!--favicon-->
    
    <link rel="shortcut icon" href="/static/ftest/favicon.png">
    
    <!--css-->
    
    <!--webpack.vendor-->
    
    <!--webpack.self-->
    
    <link rel="stylesheet" href="/static/ftest/index.bundle.0aa32be1.css">
    
</head>
<body>
    <app></app>
    <!--externals-->
    
    <!--webpack.vendor-->
    
    <script src="/static/ftest/vendor.bundle.0aa32be1.js"></script>
    
    <!--webpack.self-->
    
    <script src="/static/ftest/index.bundle.0aa32be1.js"></script>
    
</body>
</html>