<!DOCTYPE html>
<html>
<head>
    <title>Mocha测试</title>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <!--favicon-->
    
    <link rel="shortcut icon" href="/static/ftest/favicon.png">
    
    <!--css-->
    
        
        <link rel="stylesheet" href="/static/ftest/mocha.css">
        
    
    <!--webpack.vendor-->
    
    <!--webpack.self-->
    
</head>
<body>
    <app></app>
    <!--externals-->
    
        
        <script src="/static/ftest/mocha.js"></script>
        
        <script src="/static/ftest/chai.js"></script>
        
    
    <!--webpack.vendor-->
    
    <script src="/static/ftest/vendor.bundle.0aa32be1.js"></script>
    
    <!--webpack.self-->
    
    <script src="/static/ftest/index.test.bundle.0aa32be1.js"></script>
    
</body>
</html>